@{
    ViewBag.Title = "Home Page";
}

<div ng-app="tableApp" ng-controller="tableController">

    <h1>{{title}}</h1>

    <div>
        <table id='dataTable1' datatable="" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="" cellspacing="0">
            <thead>
               
            </thead>
            

        </table>
    </div>

</div>